<h2>Registration Form</h2>
<div class="container">
  <form #regForm="ngForm" (ngSubmit)="onSubmit(regForm)">
    <div class="form-group">
      <label for="name">Your Name</label>
      <input id="name" name="name" class="form-control" placeholder="Enter your name">
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input id="email" name="email" class="form-control" placeholder="Email address">
    </div>
    <div class="form-check form-group">
      <input class="form-check-input" type="checkbox" value="" id="emailOffers" name="emailOffers">
      <!-- [(ngModel)]="userSettings.emailOffers"> -->
      <label class="form-check-label" for="emailOffers">
        Keep me up to date on Rally news - I know you're too lazy to sell my data!
      </label>
    </div>
    <div class="form-group">
      <label for="entryClass">Entry Class</label>
      <select class="form-control" name="entryClass" id="entryClass" ngModel>
        <option value=0>Street Motorcycle</option>
        <option value=1>Adventure Motorcycle</option>
        <option value=2>Vintage (1979 or older)</option>
        <option value=3>Scooter (10 inch wheels or smaller)</option>
      </select>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
  <hr>
  <footer>&copy; 6Corners Rally Committee</footer>
</div>
