<h2>Registration Form</h2>
<div class="container">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <!-- name -->
    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label" for="riderNameId">Your Name</label>
      <div class="col-md-8">
        <input
          class="form-control"
          formControlName="riderName"
          id="riderNameId"
          type="text"
          placeholder="Enter your name"
          [ngClass]="{
            'is-invalid':
              (registrationForm.get('riderName')?.touched ||
                registrationForm.get('riderName')?.dirty) &&
              !registrationForm.get('riderName')?.valid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="registrationForm.get('riderName')?.errors?.required">
            Please enter your name.
          </span>
          <span *ngIf="registrationForm.get('riderName')?.errors?.minlength">
            Name must be at least 3 letters long!
          </span>
        </span>
      </div>
    </div>

    <!-- email -->
    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label" for="riderEmailId"
        >Email Address</label
      >
      <div class="col-md-8">
        <input
          class="form-control"
          formControlName="riderEmail"
          id="riderEmailId"
          placeholder="Email address"
          [ngClass]="{
            'is-invalid':
              (registrationForm.get('riderEmail')?.touched ||
                registrationForm.get('riderEmail')?.dirty) &&
              !registrationForm.get('riderEmail')?.valid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="registrationForm.get('riderEmail')?.errors?.required">
            Please enter your email address.
          </span>
          <span *ngIf="registrationForm.get('riderEmail')?.errors?.email">
            Please enter a valid email address.
          </span>
        </span>
      </div>
    </div>

    <!-- email updates checkbox -->
    <div class="form-check form-group">
      <input
        class="form-check-input"
        formControlName="riderEmailUpdates"
        type="checkbox"
        id="riderEmailUpdatesId"
      />
      <label class="form-check-label" for="riderEmailUpdatesId">
        Keep me up to date on Rally news - I know you're too lazy to sell my
        data!
      </label>
    </div>

    <!-- save button -->
    <div class="form-group row mb-2">
      <div class="offset-md-2 col-md-4">
        <button
          class="btn btn-primary mr-3"
          type="submit"
          style="width: 80px"
          [title]="
            registrationForm.valid
              ? 'Save your entered Entry'
              : 'Disabled until form is completed'
          "
          [disabled]="!registrationForm.valid"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
  <hr />
  <footer>&copy; 6Corners Rally Committee</footer>
</div>
<br />
Dirty: {{ registrationForm.dirty }}
<br />
Touched:
{{ registrationForm.touched }}
<br />
Valid: {{ registrationForm.valid }}
<br />
Value:
{{ registrationForm.value | json }}
<br />
{{ registrationForm.get("riderName")?.valid }}
