<div id="regBody">
  <p>
    There is no entry fee. However if you wish to make a donation to help cover
    costs a jar will be available at the sign-in desk.
  </p>
  <p>
    <strong
      >You must sign up at least 24 hours before the rally date in order to be
      entered for scoring.</strong
    >
    The website is at
    <a href="http://6cornersrally.org/" target="_blank">6cornersrally.org </a>.
    You may choose a class when you sign up. If you do not choose a class you
    will be assigned to the Street class.
  </p>
  <div>
    You can only enter one class.
    <ul>
      <li>Street – any bike allowed</li>
      <li>Rocket – 200cc or less</li>
      <li>Scooter – 10” wheels or smaller</li>
      <li>Vintage – 1980 or older</li>
    </ul>
    The destinations will be sorted into themes.
    <ul>
      <li>Urban warriors – SLC area</li>
      <li>Unlimited – anywhere in Utah</li>
      <li>Adventure – many dirt roads</li>
      <li>6 Corners – all the <i>Welcome to Utah</i> highway signs</li>
    </ul>
  </div>
  <p>
    Destinations will be scored by distance and difficulty. Destinations farther
    away and/or the more difficult to get to will score more points. <br />
    The currently planned Rally start is
    <a
      href="https://www.slc.gov/parks/parks-division/liberty-park/"
      target="_blank"
      >Liberty Park (600 900 S, Salt Lake City, UT 84105).
    </a>

    On the morning of the Rally you will be given a shop towel with a letter or
    number on it.
  </p>
  <p>
    At 9:30 a list of destinations with point values will be available. You will
    have up to 30 minutes to plot your best course of action.
  </p>
  <p>At 10am the Rally will officially begin. Ending time to be determined.</p>
  <p>
    At each destination you will park in front of the indicated sign or
    landmark, place your shop towel prominently on your bike, and take a picture
    of it with your phone.<br />
    You will then text that picture to Rally Central to be scored. Only 1 phone
    number per entry is allowed.
  </p>
  <p>
    At the end of the rally the points will be totaled and participant scores
    will be posted on the website. Everyone will be emailed a certificate with
    their score and the position in their class.
  </p>
  <p>
    The purpose of this rally is to have fun and enjoy the great state we live
    in!
  </p>
  <p>
    Ride Smart and Ride Safely. Don't come whining to us if you get a speeding
    ticket!
  </p>
</div>
