<div class="container">
  <img src="../assets/images/welcome.jpg" width="300" />
  <h1>Six Corners of Utah Rally</h1>
  <h2>Memorial Day Weekend</h2>
  <h2>29-31 May 2021</h2>
  <form #homeForm="ngForm" (ngSubmit)="onSubmit(homeForm)" class="formBorder">
    <h2>
      <i>Sign up now for the latest information!</i>
    </h2>

    <div class="form-group">
      <label for="name">Your Name *</label>
      <input
        id="name"
        name="name"
        class="form-control"
        placeholder="Enter your name "
        required
        [(ngModel)]="rider.name"
        #nameTest="ngModel"
        (blur)="onBlur(nameTest)"
        (focus)="onFocus(nameTest)"
        [class.field-error]="homeForm.submitted && nameTest.untouched"
      />

      <div
        [hidden]="nameTest.valid || !homeForm.submitted"
        class="alert alert-danger"
      >
        Enter your name
      </div>
    </div>

    <!-- <div class="form-group">
      <label for="mobile">Mobile Number *</label>
      <input
        type="tel"
        name="mobile"
        class="form-control"
        placeholder="Required because this is how you will send us your locations"
        required
        [(ngModel)]="rider.mobile"
        #mobileField="ngModel"
      />
      <div
        [hidden]="mobileField.valid || !homeForm.submitted"
        class="alert alert-danger"
      >
        Enter your mobile number
      </div>
    </div> -->

    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        name="email"
        class="form-control"
        placeholder="Email Address"
        required
        [(ngModel)]="rider.email"
        #emailField="ngModel"
      />
      <div
        [hidden]="emailField.valid || !homeForm.submitted"
        class="alert alert-danger"
      >
        Enter your email address
      </div>
    </div>

    <div class="form-check form-group">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="emailUpdates"
        name="emailUpdates"
        [(ngModel)]="rider.emailUpdates"
      />
      <label class="form-check-label" for="emailUpdates">
        Keep me up to date on Rally news - I know you're too lazy to sell my
        data!
      </label>
    </div>

    <!-- <strong>I prefer:</strong>
    <div class="form-group form-inline">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="commPref"
          id="commPrefMobile"
          value="text"
          checked
          [(ngModel)]="rider.commPref"
        />
        <label class="form-check-label" for="comPrefMobile">Text</label>
      </div>
      &nbsp; &nbsp;
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="commPref"
          id="commPrefEmail"
          value="email"
          [(ngModel)]="rider.commPref"
        />
        <label class="form-check-label" for="comPrefEmail">Email</label>
      </div>
    </div> -->

    <div [hidden]="!postError" class="alert alert-danger">
      {{ postErrorMsg }}
    </div>

    <button class="btn btn-primary">Submit</button>
  </form>

  <footer>&copy; 6Corners Rally Committee</footer>
</div>
