<div class="container">
  <img src="../assets/images/welcome.jpg" width="300" />
  <h1>Six Corners of Utah Rally</h1>
  <h3>Memorial Day Weekend</h3>
  <h4>29-31 May 2021</h4>
  <h2><i>Sign up now for the latest information!</i></h2>
  <form>
    <div class="form-group">
      <label for="name">Your Name</label>
      <input id="name" name="name" class="form-control" placeholder="Enter your name">
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input id="email" name="email" class="form-control" placeholder="Email address">
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
  <hr>
  <footer>&copy; 6CornersRally.com</footer>
</div>
